.scrolldown {
  border: 2px solid #ffffff;
  border-radius: 30px;
  height: 46px;
  margin: 0 auto 8px;
  text-align: center;
  width: 30px;
  position: absolute;
  left: 50%;
  bottom: 2%;
  transform: translateX(-50%);
}

.scrolldown svg {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.scrolldown-p1,
.scrolldown-p2 {
  animation-duration: 1.5s;
  animation-name: scrolldown;
  animation-iteration-count: infinite;
  fill: #ffffff;
}

.scrolldown-p2 {
  animation-delay: 0.75s;
}

@keyframes scrolldown {
  0% {
    opacity: 0;
    transform: translate(0, -8px);
  }
  50% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(0, 8px);
  }
}

.AvailableBall {
  position: relative;
  z-index: 10;
  &::after,
  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    opacity: 50%;
    z-index: -10;
  }
  &::after {
    width: 150%;
    height: 150%;
    background-color: greenyellow;
    animation: greenBall infinite 0.5s;
  }
  &::before {
    width: 200%;
    height: 200%;
    background-color: rgb(159, 255, 16);
    animation: greenBall infinite 1s;
  }
}

@keyframes greenBall {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 50%;
  }
}
